version: 0.1
log:
  fields:
    service: registry
storage:
  oss:
    accesskeyid: accesskeyid
    accesskeysecret: accesskeysecret
    region: region
    endpoint: endpoint
    internal: internal
    bucket: bucket
  cache:
    blobdescriptor: redis
http:
  addr: :5000
  headers:
    X-Content-Type-Options: [nosniff]
auth:
  htpasswd:
    realm: basic-realm
    path: /etc/registry/htpasswd
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
redis:
  addr: localhost:6379
  password: password
  db: 0
  dialtimeout: 3000ms
  readtimeout: 3000ms
  writetimeout: 3000ms
  pool:
    maxidle: 16
    maxactive: 64
    idletimeout: 300s
